/* src/components/Reviews.css */
.reviews {
  text-align: center;
  padding: 40px 0;
  background-color: #f9f9f9;
  font-style: italic;
}

.reviews h2 {
  font-size: 32px;
  margin-bottom: 20px;
}

.review-items {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.review-item {
  width: 30%;
  margin-bottom: 20px;
  padding: 20px;
  background-color: burlywood;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.review-item img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  margin-bottom: 10px;
}

.review-item p {
  font-size: 16px;
  color: #555;
}

.review-item h4 {
  font-size: 18px;
  margin-top: 10px;
  color: #333;
}

@media (max-width: 768px) {
  .review-item {
    width: 100%;
  }
}
